version: "3.3"

services:
  db:
    image: postgres:12.4
    restart: always
    ports:
    - "5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data/
    env_file:
      - ./.env

  web:
    image: renkasvajra/foodgram:v1.0
    restart: always
    volumes:
      - static_files:/code/static
      - media_files:/code/media
      - nginx_config:/code/nginx
    depends_on:
      - db
    env_file:
      - ./.env

  nginx:
    image: nginx:1.19.3
    restart: always
    ports:
      - "80:80"
    volumes:
      - nginx_config:/etc/nginx/conf.d/
      - static_files:/code/static/
      - media_files:/code/media/
    depends_on:
      - web

volumes:
  postgres_data:
  static_files:
  media_files:
  nginx_config:

