{% load tag_filter %}
<nav class="pagination" aria-label="Search results pages">
    <ul class="pagination__container">
        {% if items.has_previous %}
            <li class="pagination__item">
                {% with previous_item=items.previous_page_number %}
                    <a class="pagination__link link" href="?{{ request|pagination:previous_item }}"><span class="icon-left"></span></a>
                {% endwith %}
            </li>
            <li class="pagination__item">
                <a class="pagination__link link" href="?{{ request|pagination:1 }}">1</a>
            </li>

            {% if items.number > 2 %}
                {% if items.number > 3 %}
                    <li class="pagination__item">...</li>
                {% endif %}

                <li class="pagination__item">
                    {% with previous=page_obj.number|add:'-1' %}
                        <a class="pagination__link link" href="?{{ request|pagination:previous }}">{{ page_obj.number|add:'-1' }}</a>
                    {% endwith %}
                </li>
            {% endif %}
        {% endif %}

        <li class="pagination__item pagination__item_active">
            <a class="pagination__link link" href="{{ request|pagination:page_obj.number }}">{{ page_obj.number }}</a>
        </li>

        {% if items.has_next %}
            {% if items.number|add:'1' < page_obj.paginator.num_pages %}
                <li class="pagination__item">
                    {% with next=page_obj.number|add:'1' %}
                        <a class="pagination__link link" href="?{{ request|pagination:next }}">{{ page_obj.number|add:'1' }}</a>
                    {% endwith %}
                </li>
                {% if items.number|add:'2' < page_obj.paginator.num_pages %}
                    <li class="pagination__item">...</li>
                {% endif %}
            {% endif %}

            <li class="pagination__item">
                {% with obj=page_obj.paginator.num_pages %}
                    <a class="pagination__link link" href="?{{ request|pagination:obj }}">{{ page_obj.paginator.num_pages }}</a>
                {% endwith %}
            </li>
            <li class="pagination__item">
                {% with next_item=items.next_page_number %}
                    <a class="pagination__link link" href="?{{ request|pagination:next_item }}"><span class="icon-right"></span></a>
                {% endwith %}
            </li>
        {% endif %}
    </ul>
</nav>