{% load button_filter %}
<div class="card" data-id="{{ recipe.id }}">
    {% load thumbnail %}
        {% thumbnail recipe.image "480x480" crop="center" upscale=True as im %}
        <img src="{{ im.url }}" alt="{{ recipe.title }}" class="single-card__image">
    {% endthumbnail %}
        <div class="card__body">
            <a class="card__title link" href="{% url 'recipe' pk=recipe.id %}" target="_blank">{{ recipe.title }}</a>
              <ul class="card__items">
                {% for tag in form.fields.tags.choices.queryset %}
                  <div class="tags__item">
                      <input type="checkbox" name="tags" value="{{ tag.id }}" id="id_{{ tag.title }}"
                             class="tags__checkbox tags__checkbox_style_{{ tag.color }}" {% if tag in recipe.tags.all %}checked{% endif %}>
                      <label for="id_tags_{{ tag.id }}" class="tags__label">{{ tag.title }}</label>
                  </div>
                 {% endfor %}
              </ul>
              <div class="card__items card__items_column">
                <p class="card__text"><span class="icon-time"></span> {{ recipe.cook_time }} мин.</p>
                <p class="card__text"><span class="icon-user"></span> <a href="{% url 'profile' recipe.author %}" style="color: #000000">{{ recipe.author }}</a></p>
              </div>
        </div>
    <div class="card__footer">
        {% include 'includes/shopping_button.html' %}
        {% include 'includes/favorite_button.html' %}
    </div>
</div>