{% load button_filter %}
{% if user.is_authenticated %}
            {% if recipe|shopping_card:request.user %}
                <button class="button button_style_light-blue-outline" name="purchases"><span
                        class="icon-check button__icon"></span>Рецепт добавлен</button>
            {% else %}
                <button class="button button_style_blue" name="purchases" data-out><span
                        class="icon-plus button__icon"></span>Добавить в покупки</button>
            {% endif %}
        {% endif %}