{% extends "base.html" %}
{% load static %}
{% block content %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% block static_css %}
    <link rel="stylesheet" href="{% static 'pages/form.css' %}">
    {% endblock %}
</head>
    <div class="main__header">
        <h1 class="main__title">Войти на сайт</h1>
    </div>
        <div class="form-container">
            <form class="form" method="post">
                {% csrf_token %}
                <div class="form__group">
                    <label for="id_username" class="form__label">Имя</label>
                    <div class="form__field-group">
                        <input type="text" name="username" id="id_username" class="form__input">
                        <span class="form__error"></span>
                    </div>
                </div>
                <div class="form__group">
                    <label for="id_password" class="form__label">Пароль</label>
                    <div class="form__field-group">
                        <input type="password" name="password" id="id_password" class="form__input">
                        {% if form.errors %}
                        <span class="form__error">Имя пользователя и пароль не совпадают. Введите правильные
                            данные.</span>
                        {% endif %}
                    </div>
                </div>

                <div class="form__footer">
                    <button class="button button_style_blue">Войти</button>
                        <li>
                            <a href="{% url 'password_reset' %}" class="nav__link link" style="color:black">
                            Забыли пароль?</a>
                        </li>
                </div>
            </form>
        </div>
    </main>
{% endblock %}