{% extends "base.html" %}
{% load static %}
{% load user_filters %}
{% block title %}
    Пароль изменён
{% endblock %}
{% block static_css %}
  <link rel="stylesheet" href='{% static "pages/form.css" %}'>
{% endblock %}
{% block content %}
<div class="main__header">
    <h1 class="main__title">Пароль изменён</h1>
</div>
<div class="form-container">
  <form class="form" method="post" action="{% url 'index' %}">
    {% csrf_token %}
      <p class="form__info-text">
        Пароль успешно изменён.
      </p>
  </form>
</div>
{% endblock %}