{% extends "base.html" %}
{% block title %}Новый пароль{% endblock %}
{% load static %}
{% load user_filters %}
{% block static_css %}
<link rel="stylesheet" href='{% static "pages/form.css" %}'>
{% endblock %}
{% block content %}

{% if validlink %}
    <div class="form-container">
        <form method="post" class="form" action="{% url 'password_change' %}">
            {% csrf_token %}
            <div class="form__group">
                <label for="id_oldPassword" class="form__label">Старый пароль</label>
                <div class="form__field-group">
                    <input type="password" name="old_password" id="id_oldPassword" class="form__input">
                    <span class="form__error">{{ form.old_password.errors }}</span>
                </div>
            </div>
            <div class="form__group">
                <label for="id_newPassword" class="form__label">Новый пароль</label>
                <div class="form__field-group">
                    <input type="password" name="new_password1" id="id_newPassword" class="form__input">
                    <span class="form__input-info">Ваш пароль не должен совпадать с вашим именем или другой персональной информацией или быть слишком похожим на неё.</span>
                    <span class="form__input-info">Ваш пароль должен содержать как минимум 8 символов.</span>
                    <span class="form__input-info">Ваш пароль не может быть одним из широко распространённых паролей.</span>
                    <span class="form__input-info">Ваш пароль не может состоять только из цифр.</span>
                    <span class="form__error">{{ form.new_password1.errors }}</span>
                </div>
            </div>
            <div class="form__group">
                <label for="id_confirmPassword" class="form__label">Подтверждение нового пароля</label>
                <div class="form__field-group">
                    <input type="password" name="new_password2" id="id_confirmPassword" class="form__input">
                    <span class="form__error">{{ form.new_password2.errors }}</span>
                </div>
            </div>
            <div class="form__footer">
                <button class="button button_style_blue">Изменить пароль</button>
            </div>
        </form>
    </div>

{% else %}
<div class="main__container">
        <div class="card">
            <div class="main__header">Ошибка</div>
            <div class="card__body">
                <p>Ссылка сброса пароля содержит ошибку или устарела.</p>
            </div>
        </div>
</div>
{% endif %}
{% endblock %} 