{% extends "base.html" %}
{% load static %}
{% block content %}
<title>Сброс пароля</title>
{% block static_css %}
<link rel="stylesheet" href="{% static 'pages/form.css' %}">
{% endblock %}
<div class="main container">
    <div class="main__header">
        <h1 class="main__title">Сброс пароля</h1>
    </div>
    <div class="form-container">
        <form class="form" method="post" action="{% url 'index' %}">
            {% csrf_token %}
            <p class="form__info-text">
                Пароль сброшен! Мы выслали вам на почту инструкцию по установке нового пароля.
            </p>
        </form>
    </div>
</div>
{% endblock %}