<!doctype html>
<html lang="en">
{% load static %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Сброс пароля</title>
    <link rel="stylesheet" href="{% static 'pages/form.css' %}">
</head>

<body class="body">
    <header class="header">
        {% include 'navbar.html' %}
    </header>
    <main class="main container">
        <div class="main__header">
            <h1 class="main__title">Сброс пароля</h1>
        </div>
        <div class="form-container">
            <form class="form" method="post">
                {% csrf_token %}
                <p class="form__info-text">
                    Пароль сброшен! Мы выслали вам на почту инструкцию по установке нового пароля.
                </p>
        </div>
        </form>
        </div>


    </main>
    <footer class="footer">
        <div class="footer__container container">
            <a href="#" class="footer__brand link">Продуктовый помощник</a>
            <ul class="footer__items">
                <li class="footer__item"><a href="#" class="footer__link link">Об авторе </a></li>
                <li class="footer__item"><a href="#" class="footer__link link">Технологии</a></li>
            </ul>
        </div>
    </footer>
</body>

</html>