{% extends "base.html" %}
{% load static %}
<title>Сброс пароля</title>
{% block static_css %}
<link rel="stylesheet" href="{% static 'pages/form.css' %}">
{% endblock %}
{% block content %}
<div class="main container">
  <div class="main__header">
    <h1 class="main__title">Пароль изменён</h1>
  </div>
  <div class="form-container">
    <form action="{% url 'index' %}" class="form" method="post">
      {% csrf_token %}
      <p class="form__info-text">
        Пароль успешно изменён.
      </p>
    </form>
  </div>
</div>
{% endblock %}