{% extends "base.html" %}
{% block title %}Новый пароль{% endblock %}
{% load static %}
{% load user_filters %}
{% block static_css %}
<link rel="stylesheet" href='{% static "pages/form.css" %}'>
{% endblock %}
{% block content %}

{% if validlink %}
<div class="main__container">
        <div class="card">
            <div class="main__header">
                <h1 class="main__title">Введите новый пароль</h1>
            </div>
                <form method="post" >
                    {% csrf_token %}
                    <div class="form__group">
                        <label for="id_newPassword" class="form__label">Новый пароль</label>
                        <div class="form__field-group">
                            <input type="password" name="new_password1" id="id_newPassword" class="form__input">
                            <span class="form__input-info">Ваш пароль не должен совпадать с вашим именем или другой персональной информацией или быть слишком похожим на неё.</span>
                            <span class="form__input-info">Ваш пароль должен содержать как минимум 8 символов.</span>
                            <span class="form__input-info">Ваш пароль не может быть одним из широко распространённых паролей.</span>
                            <span class="form__input-info">Ваш пароль не может состоять только из цифр.</span>
                            <span class="form__error">{{ form.new_password1.errors }}</span>
                        </div>
                    </div>
                    <div class="form__footer">
                        <button type="submit" class="button button_style_blue">
                            Назначить новый пароль
                        </button>
                    </div>
                </form>
        </div>
</div>

{% else %}
<div class="main__container">
        <div class="card">
            <div class="main__header">Ошибка</div>
            <div class="card__body">
                <p>Ссылка сброса пароля содержит ошибку или устарела.</p>
            </div>
        </div>
</div>
{% endif %}
{% endblock %} 