{% extends "base.html" %}
{% block title %}Сброс пароля выполнен{% endblock %}
{% load static %}
{% block static_css %}
<link rel="stylesheet" href='{% static "pages/form.css" %}'>
{% endblock %}
{% block content %}
<div class="main__container">
  <div class="col-md-8 p-5">
    <div class="card">
      <div class="card-header">Пароль изменён</div>
      <div class="card-body">
        <form action="{% url 'index' %}" class="form" method="post">
          <p>Пароль успешно изменён.</p>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %} 