{% extends "base.html" %}
{% load static %}
{% block title %} Ошибка 500 {% endblock %}
{% block content %}
{% block static_css %}
<link rel="stylesheet" href="{% static 'pages/form.css' %}">
{% endblock %}
<div class="row">
    <form action="{% url 'index' %}">
  <div class="main__header">
    <h1 class="main__title">Ошибка 500</h1>
  </div>
  <div class="custom-center-block">
    <p class="custom-text-block">Ошибка на сервере, попробуйте обновить страницу или обратиться позже</p>
    <div class="custom-button-block">
      <button class="button button_style_blue">Перейти на главную</button>
    </div>
  </div>
</form>
</div>

{% endblock %}