{% load user_filters %}
{% load static %}
<header class="header">
  <nav class="nav">
    <link rel="stylesheet" href="{% static 'pages/form.css' %}">
    <div class="nav__container container">
      <ul class="nav__items list">
        <li class="nav__item nav__item_disabled"><a href="{% url 'index' %}" class="nav__link link">Рецепты</a></li>
        {% if user.is_authenticated %}
        <li class="nav__item"><a href="{% url 'index' %}" class="nav__link link">Мои подписки</a></li>
        <li class="nav__item"><a href="{% url 'recipe_add' %}" class="nav__link link">Создать рецепт</a></li>
        <li class="nav__item"><a href="{% url 'index' %}" class="nav__link link">Избранное</a></li>
        {% endif %}
      </ul>
      <ul class="nav__items list">
        {% if user.is_authenticated %}
          <li class="nav__item"><a href="{% url 'password_change' %}" class="nav__link link">Изменить пароль</a></li>
          <li class="nav__item"><a href="{% url 'logout' %}" class="nav__link link">Выход</a></li>
        {% else %}
          <li class="nav__item"><a href="{% url 'login' %}" class="nav__link link">Войти</a></li>
          <li class="nav__item"><a href="{% url 'signup' %}" class="button button_style_blue">Создать аккаунт</a></li>
        {% endif %}
      </ul>
    </div>
  </nav>
</header>