<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% block static_css %} {% endblock %}
    {% include 'includes/navbar.html' %}
</head>

<body class="body">
<main class="main container">
    {% block content %}
    <div class="main__header">
        <h1 class="main__title">Заголовок страницы </h1>
    </div>
    {% endblock content %}
</main>

{% include 'includes/footer.html' %}

</body>
{% block static_js %}

{% endblock %}
</html>