<!doctype html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ recipe.title }}</title>
    <link rel="stylesheet" href="{% static 'pages/single.css' %}">
</head>
<body class="body">
<header class="header">
    <nav class="nav">
        <div class="nav__container container">
            {% include 'includes/navbar.html' %}
        </div>
    </nav>
</header>
    <main class="main container">
        <div class="card-user" data-author="{{ author.id }}">
            {% load thumbnail %}
                {% thumbnail recipe.image "240" crop="center" upscale=True as im %}
                <a href="{{ recipe.get_absolute_url }}" class="link" target="_blank"><img src="{{ im.url }}" alt="{{ recipe.title }}" class="card__image"></a>
            {% endthumbnail %}
            <div class="single-card__info">
                <div class="single-card__header-info">
                    <h1 class="single-card__title">{{ recipe.title }}</h1>
                    {% if user.is_authenticated %}
                        <div class="single-card__favorite">
                            <button class="button button_style_none" name="favorites" data-out><span class="icon-favorite icon-favorite_big"></span></button>
                            <div class="single-card__favorite-tooltip tooltip">Добавить в избранное</div>
                        </div>
                    {% endif %}
                </div>
                    <ul class="card__items">
                    {% for tag in recipe.tags.all %}
                        <li class="card__item"><span class="badge badge_style_{{ tag.color }}">{{ tag }}</span></li>
                    {% endfor %}
                  </ul>
                <div class="single-card__items single-card__items_column">
                    <p class="single-card__text"><span class="icon-time"></span> {{ recipe.cook_time }} мин.</p>
                    <p class="single-card__text"><span class="icon-user"></span> {{ recipe.author }}</p>

                </div>
                <ul class="single-card__items">
                    {% if user.is_authenticated %}
                        <li class="single-card__item"><button class="button button_style_blue" name="purchases" data-out>
                            <span class="icon-plus"></span> Добавить в покупки</button></li>
                    {% if recipe.author == request.user %}
                       <li class="single-card__item"> <a style="margin-left: 2.5em" href="{% url 'recipe_edit' recipe.id %}"
                                class="single-card__text">Редактировать рецепт</a></li>
                    {% endif %}
                    {% endif %}
                    {% if recipe.author != request.user %}
                    {% if following %}
                        <button class="button button_style_light-blue button_size_auto" name="subscribe">Отписаться от автора</button>
                        {% else %}
                        <button class="button button_style_light-blue button_size_auto" name="subscribe" data-out>Подписаться на автора</button>
                        {% endif %}
                    {% endif %}
                </ul>
                <div class="single-card__section">
                    <h3 class="single-card__section-title">Ингридиенты:</h3>
                    <div class="single-card__items single-card__items_column">
                        {% for ingredient in recipe.recipe.all %}
                            <p class=" single-card__section-item">
                                {{ ingredient.ingredient.title }} - {{ ingredient.count }} - {{ ingredient.ingredient.unit }}
                            </p>
                        {% endfor %}
                    </div>
                </div>
                <div class="single-card__section">
                    <h3 class="single-card__section-title">Описание:</h3>
                    <p class=" single-card__section-text">{{ recipe.text }}</p>
                </div>
            </div>
        </div>
    </main>
    <footer class="footer">
        <div class="footer__container container">
            <a href="#" class="footer__brand link">Продуктовый помощник</a>
            <ul class="footer__items">
                <li class="footer__item"><a href="#" class="footer__link link">Об авторе </a></li>
                <li class="footer__item"><a href="#" class="footer__link link">Технологии</a></li>
            </ul>
        </div>
    </footer>
<script src="{% static 'js/components/Purchases.js'%}"></script>
<script src="{% static './js/config/config.js' %}"></script>

<script src="{% static 'js/components/MainCards.js' %}"></script>
<script src="{% static 'js/components/SingleCard.js' %}"></script>
<script src="{% static 'js/components/Header.js' %}"></script>

<script src="{% static 'js/api/Api.js' %}"></script>
{% if user.is_authenticated %}
    <script src="{% static 'js/components/Favorites.js' %}"></script>
    <script src="{% static 'js/components/Subscribe.js' %}"></script>
    <script src="{% static 'singlePage.js' %}"></script>
{% else %}
    <script src="{% static 'singlePageNotAuth.js' %}"></script>
{% endif %}
</body>
</html>