{% extends "base.html" %}
{% load static %}
{% block content %}
{% block static_css %}
<link rel="stylesheet" href="{% static 'pages/shopList.css' %}">
{% endblock %}
<body class="body">
<div class="main__header">
    <h1 class="main__title">Список покупок</h1>
</div>
<div class="card-list card-list_column">
    <ul class="shopping-list">
        {% for item in shopping_list %}
            <li class="shopping-list__item" data-id="{{ recipe.id }}">
            <div class="recipe recipe_reverse">
                {% load thumbnail %}
                    {% thumbnail item.recipe.image "480x480" crop="center" upscale=True as im %}
                    <img src="{{ im.url }}" alt="{{ recipe.title }}"
                    class="recipe__image recipe__image_big" width="480" height="480">
                {% endthumbnail %}
                <h3 class="recipe__title"> {{ item.recipe.title }}</h3>
                <p class="recipe__text"><span class="icon-time"></span> {{ item.recipe.cook_time }} мин.</p>
            </div>
            <a href="" class="shopping-list__button link">Удалить</a>
        </li>
        {% endfor %}
        {% if shopping_list %}
            <a href="{% url 'download_shoplist' %}">
                <button class="button button_style_blue">
                    Скачать список
                </button>
            </a>
        {% endif %}
    </ul>
</div>
{% endblock %}
{% block static_js %}
<script src="{% static 'js/config/config.js' %}"></script>
<script src="{% static 'js/components/Header.js' %}"></script>
<script src="{% static 'js/components/ShopList.js' %}"></script>
<script src="{% static 'js/api/Api.js' %}"></script>
<script src="{% static 'shopList.js' %}"></script>
{% endblock %}